.perfil {
    border-radius: 5px;
}

.perfil img {
    border-radius: 50%;
    border: 1px solid var(--violeta);
    max-width: 30px;
    max-height: 30px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.nombre {
    padding-left: 20px;
}

@media (min-width: 911px) {
    .form button {
        width: fit-content;
        margin-left: auto;
        padding: 8px 30px;
    }
}