.perfil {
    max-width: 30px;
    max-height: 30px;
    overflow: hidden;
}

.perfil img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 1px solid var(--violeta);
}

.nombre {
    padding-left: 20px;
}

@media (min-width: 911px) {
    .form button {
        width: fit-content;
        margin-left: auto;
        padding: 8px 30px;
    }
}