@import "fonts/stylesheet.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --negro: #222222;
  --amarillo: #FFC800;
  --violeta: #5C3AE2;
  --gris: #7C7C7C;
  --blanco: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat",-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  position: relative;
  color: var(--negro);
}

a {
  color: inherit;
  text-decoration: none;
}

.bg-negro {
  background-color: var(--negro);
}

.text-negro {
  color: var(--negro);
}

main {
  padding: 0 2.5rem;
}

.space-between {
  justify-content: space-between;
}

.bg-violeta {
  background-color: var(--violeta);
}

.bg-amarillo {
  background-color: var(--amarillo);
}

.text-violeta {
  color: var(--violeta);
}

input:focus,textarea:focus, select:focus-visible {
  outline-color: var(--violeta);
}

.break-all {
  word-break: break-all;
}