.inpiutContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px auto;
    position: relative;
    flex-wrap: nowrap;
}

.inpiutContainer :is(input[type="tel"], input[type="email"], input[type="password"], input[type="number"], input[type="text"]) {
    border: 1px solid var(--negro);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 100%;
    padding: 5px 10px;
    color: var(--violeta) !important;
}

.inpiutContainer button {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px;
}

.inpiutContainer button:disabled {
    background-color: var(--gris);
    cursor: not-allowed;
}

.mostrarPassword {
    display: flex;
    justify-content: center;
    align-items: center;
}