.main {
    min-height: calc(100vh - 250px);
}

@media (min-width: 991px) {
    .main {
        max-width: 1000px;
        margin-left: 360px;
        margin-right: 0;
    }
}

@media (min-width: 1360px) {
    .main {
        max-width: 1400px;
        margin-left: 400px;
    }
}